.Edit
  .Header
    .Header__logo
      = link_to root_path, class: "Header__logo--img" do
        = image_tag "logo.png",size: "140x50", alt: "icon"
  .Main
    %h1.Main__header 各種変更
    .Main__Container
      = form_with model: @profile, local: true do |f|
        .Main__Container__field
          .Main__Container__field__label
            %p 自己紹介
            %span.option 任意
          = f.text_area :introduce, autofocus: true, autocomplete: "introduce", placeholder: '例：こんにちは、私は〇〇です', class: "Main__Container__field__input"
        .Main__Container__field
          .Main__Container__field__label
            %p 画像
            %span.option 任意
          = f.file_field :avatar, autocomplete: "avatar", placeholder: '画像の添付', class: "Main__Container__field__input"
        .Main__Container__actions
          = f.submit "設定する", class: "Main__Container__actions__submit"