%header.Header
  .HeaderInner
    .HeaderInnerTop
      .HeaderInnerTop__icon
        = link_to root_path do
          = image_tag "logo.png", alt: "logo", class: 'HeaderInnerTop__icon--img'
      .HeaderInnerTop__searchBox
        %form.HeaderInnerTop__searchBox__form
          %input.HeaderInnerTop__searchBox__form__input{name: "key", placeholder: "キーワードから探す"}
          %button.HeaderInnerTop__searchBox__form__btn{type: "submit"}
            .HeaderInnerTop__searchBox__form__btn--icon
              = image_tag "icon-search 1.png", alt: "search_icon", class: 'HeaderInnerTop__searchBox__form__btn--icon--img'
    .HeaderInnerNav
      %ul.HeaderInnerNavlistsLeft
        %li.HeaderInnerNavlistsLeft__item
          .Categories
            %ul
              %li
                = link_to "#", class: "category__seach search__btn" do
                  %i.fas.fa-bars.category__icon
                  カテゴリーから探す
                %ul.Category__parent.category__list
                  - @parents.each do |parent|
                    %li
                      = link_to "#", class: "category__parent__name" do
                        = parent.name
                      %ul.Category__child.category__list
                        - parent.children.each do |child|
                          %li
                            = link_to "#", class: "category__child__name" do
                              = child.name
                            %ul.Category__grandchild.category__list
                              - child.children.each do |grandchild|
                                %li 
                                  = link_to "#", class: "category__child__name" do
                                    = grandchild.name
              
              

      %ul.HeaderInnerNavlistsRight
      - if user_signed_in?
        %li.HeaderInnerNavlistsRight__item
          = link_to 'ログアウト', destroy_user_session_path, method: :delete
        %li.HeaderInnerNavlistsRight__item
          = link_to 'マイページ', user_path(current_user.id)
      - else
        %li.HeaderInnerNavlistsRight__item
          = link_to 'ログイン', new_user_session_path
        %li.HeaderInnerNavListsRight__item
          = link_to '新規館員登録', new_user_registration_path
