= render 'template/header'
.Back
  .User
    .User__image
      = link_to '#' do
        = image_tag 'bg-appBanner-pict.jpg', alt: 'sample'
      .User__image__name
        = link_to 'ユーザー名', '#'
      .User__image__edit
        .User__image__edit__items
          = "出品数:10000"
        .User__image__edit__mypage
          = link_to '編集', "#"
    .User__card
      .User__card__new
        = link_to 'カードの登録', '#'
      .User__card__edit
        = link_to 'カードの変更', '#'
    .User__introduction
      %h2 テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
    .User__item
      %h1 この出品者の商品
    .User__items
      .MainPickupProductBoxProductLists__list#wrap
        = link_to '#' do
          %figure.MainPickupProductBoxProductLists__list--img
            = image_tag 'https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png', alt: '', class: 'MainPickupProductBoxProductLists__list--img--pict'
          .MainPickupProductBoxProductLists__list--body
            %h3.MainPickupProductBoxProductLists__list--body--name
              ee
            .MainPickupProductBoxProductLists__list--body--details
              %ul.MainPickupProductBoxProductLists__list--body__details--ul
                %li 1000円
                %li
                  %i.fa.fa-star.likeIcon
                  0
              %p (税込)
      .MainPickupProductBoxProductLists__list#wrap
        = link_to '#' do
          %figure.MainPickupProductBoxProductLists__list--img
            = image_tag 'https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png', alt: '', class: 'MainPickupProductBoxProductLists__list--img--pict'
          .MainPickupProductBoxProductLists__list--body
            %h3.MainPickupProductBoxProductLists__list--body--name
              ee
            .MainPickupProductBoxProductLists__list--body--details
              %ul.MainPickupProductBoxProductLists__list--body__details--ul
                %li 1000円
                %li
                  %i.fa.fa-star.likeIcon
                  0
              %p (税込)
      .MainPickupProductBoxProductLists__list#wrap
        = link_to '#' do
          %figure.MainPickupProductBoxProductLists__list--img
            = image_tag 'https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png', alt: '', class: 'MainPickupProductBoxProductLists__list--img--pict'
          .MainPickupProductBoxProductLists__list--body
            %h3.MainPickupProductBoxProductLists__list--body--name
              ee
            .MainPickupProductBoxProductLists__list--body--details
              %ul.MainPickupProductBoxProductLists__list--body__details--ul
                %li 1000円
                %li
                  %i.fa.fa-star.likeIcon
                  0
              %p (税込)
      .MainPickupProductBoxProductLists__list#wrap
        = link_to '#' do
          %figure.MainPickupProductBoxProductLists__list--img
            = image_tag 'https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png', alt: '', class: 'MainPickupProductBoxProductLists__list--img--pict'
          .MainPickupProductBoxProductLists__list--body
            %h3.MainPickupProductBoxProductLists__list--body--name
              ee
            .MainPickupProductBoxProductLists__list--body--details
              %ul.MainPickupProductBoxProductLists__list--body__details--ul
                %li 1000円
                %li
                  %i.fa.fa-star.likeIcon
                  0
              %p (税込)
= link_to '#', class: "PurchaseBtn" do
  .PurchaseBtn__box
    %span.PurchaseBtn__box__text 出品する
    = image_tag 'icon_camera.png', class: 'PurchaseBtn__box__icon'
= render 'template/footer'