= render 'template/header'
.Back
  .User
    .User__image
      = link_to user_path(current_user.id) do
        = image_tag 'bg-appBanner-pict.jpg', alt: 'sample'
      .User__image__name
        = link_to @user.nickname, user_path(current_user.id)
      .User__image__edit
        .User__image__edit__items
          = "出品数:10000"
        .User__image__edit__mypage
          = link_to '編集', edit_user_path(@user)
    .User__card
      .User__card__new
        = link_to 'カードの登録', new_card_path
      .User__card__edit
        = link_to 'カードの詳細', card_path
    .User__introduction
      %h2 テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
    .User__action
      = link_to "編集する", edit_user_profile_path(current_user), class: 'User__action__button'
    .User__item
      %h1 この出品者の商品
    .User__items
      - @items.each do |item|
        = render 'items/item', item: item

= render 'template/item'
= render 'template/footer'