= render 'template/header'
.Back
  .User
    .User__image
      = link_to user_path(current_user.id) do
        = image_tag 'bg-appBanner-pict.jpg', alt: 'sample'
      .User__image__name
        - if @user.profile.present? && @user.profile.avatar.present?
          = image_tag @user.profile.avatar.url
        - else
          = @user.nickname
      .User__image__edit
        .User__image__edit__items
          出品数:
          = @items_length
        .User__image__edit__mypage
          = link_to '編集', edit_user_path(@user)
    .User__card
      .User__card__new
        = link_to 'カードの登録', new_card_path
      .User__card__edit
        = link_to 'カードの詳細', card_path
    .User__introduction
      - if @user.profile.present? && @user.profile.introduce?
        = @user.profile.introduce
      - else
        = "自己紹介文はありません"
    .User__action
      - if @user.profile.present?
        = link_to "変更する", edit_profile_path(@profile), class: 'User__action__button'
      - else
        = link_to "設定する", new_profile_path, class: 'User__action__button'
    .User__item
      %h1 この出品者の商品
    .User__items
      - @items.each do |item|
        = render 'items/item', item: item

= render 'template/item'
= render 'template/footer'