%body
  = render 'template/header'
  .Main
    %section.MainVisual
      .MainVisualContent
        %h2.MainVisualContent__subtitle
          %br/
          人生を変えるフリマアプリ
        %p.MainVisualContent__text
          FURIMAはだれでもかんたんに出品・購入できる
          %br/
          フリマアプリです
        .MainVisualContent__btn
          = link_to "#", class: "MainVisualContent__btn--aBtn" do
            = image_tag 'http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg', alt: '', class: 'MainVisualContent__btn--aBtn--appleIcon'
          = link_to "#", class: "MainVisualContent__btn--gBtn" do
            = image_tag 'http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg', alt: '', class: 'MainVisualContent__btn--gBtn--googleIcon'
    
    %section.MainIntroduction
      %h2.MainIntroductionSubTitle
        FURIMAが選ばれる3つの理由
      %ul.MainIntroductionLists
        %li.MainIntroductionLists__list
          .MainIntroductionLists__list__pict
            %span.MainIntroductionLists__list__pict--number 1
            = image_tag 'pict-reason-01.jpg', alt: 'picture-img', class: 'MainIntroductionLists__list__pict--image' 
          %h3.MainIntroductionLists__list__text
            %span.MainIntroductionLists__list__text--feat 3分
            ですぐに出品
          %p.MainIntroductionLists__list__description
            スマホで入力するだけで簡単に出品できる！

        %li.MainIntroductionLists__list
          .MainIntroductionLists__list__pict
            %span.MainIntroductionLists__list__pict--number 2
            = image_tag 'pict-reason-02.jpg', alt: 'picture-img', class: 'MainIntroductionLists__list__pict--image'  
          %h3.MainIntroductionLists__list__text
            %span.MainIntroductionLists__list__text--feat シンプル
            で使いやすい
          %p.MainIntroductionLists__list__description
            めんどくさい入力は必要なく、検索も購入もスムーズ！

        %li.MainIntroductionLists__list--last
          .MainIntroductionLists__list--last__pict
            %span.MainIntroductionLists__list--last__pict--number 3
            = image_tag 'pict-reason-03.jpg', alt: 'picture-img', class: 'MainIntroductionLists__list--last__pict--image'  
          %h3.MainIntroductionLists__list--last__text
            手数料
            %span.MainIntroductionLists__list--last__text--feat 業界最安
          %p.MainIntroductionLists__list--last__description
            最大3%でお得に出品&amp;購入！
    %section.MainDownload
      .MainDownloadInner
        %h2.MainDownloadInner__subtitle 会員数日本一位
        %p.MainDownloadInner__text
          FURIMAは、フリマアプリで最も人気。
          %br/
          出品・購入回数も業界最多です！
          %br/
          ほしかったあの商品に出会えるかもしれません。
        .MainDownloadInner__btn
          = link_to '#' do
            = image_tag 'http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg', alt: '', class: 'MainDownloadInner__btn--aBtn'
          = link_to '#' do
            = image_tag 'http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg', alt: '', class: 'MainDownloadInner__btn--gBtn'

    %section.MainFeatures
      %h2.MainFeaturesHead FURIMAの特徴
      .MainFeaturesContents
        .MainFeaturesContents__item
          %figure.MainFeaturesContents__item__img
            = image_tag 'icon-01.png', alt: '', class: 'MainFeaturesContents__item__img--icon'
          %h3.MainFeaturesContents__item__subtitle 簡単に売り買いできる
          %p.MainFeaturesContents__item__detail
            スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
        .MainFeaturesContents__item
          %figure.MainFeaturesContents__item__img
            = image_tag 'icon-02.png', alt: '', class: 'MainFeaturesContents__item__img--icon'
          %h3.MainFeaturesContents__item__subtitle 売上金は即日振込みに対応
          %p.MainFeaturesContents__item__detail
            午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
        .MainFeaturesContents__item
          %figure.MainFeaturesContents__item__img
            = image_tag 'icon-03.png', alt: '', class: 'MainFeaturesContents__item__img--icon'
          %h3.MainFeaturesContents__item__subtitle 様々な支払いに対応
          %p.MainFeaturesContents__item__detail
            お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。


    %section.MainPickup
      %h2.MainPickupHead ピックアップカテゴリー
      .MainPickupProductBox
        .MainPickupProductBoxTop
          = link_to '#' do
            %h3.MainPickupProductBoxTop__title 新規投稿商品
        .MainPickupProductBoxProductLists
          .MainPickupProductBoxProductLists__list
            = link_to '#' do
              %figure.MainPickupProductBoxProductLists__list--img
                = image_tag 'https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/16/IMG_9072.JPG', alt: '', class: 'MainPickupProductBoxProductLists__list--img--pict'
              .MainPickupProductBoxProductLists__list--body
                %h3.MainPickupProductBoxProductLists__list--body--name
                  ee
                .MainPickupProductBoxProductLists__list--body--details
                  %ul.MainPickupProductBoxProductLists__list--body__details--ul
                    %li 1000円
                    %li
                      %i.fa.fa-star.likeIcon
                      0
                  %p (税込)
          .MainPickupProductBoxProductLists__list
            = link_to '#' do
              %figure.MainPickupProductBoxProductLists__list--img
                = image_tag 'https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png', alt: '', class: 'MainPickupProductBoxProductLists__list--img--pict'
              .MainPickupProductBoxProductLists__list--body
                %h3.MainPickupProductBoxProductLists__list--body--name
                  ee
                .MainPickupProductBoxProductLists__list--body--details
                  %ul.MainPickupProductBoxProductLists__list--body__details--ul
                    %li 1000円
                    %li
                      %i.fa.fa-star.likeIcon
                      0
                  %p (税込)
          .MainPickupProductBoxProductLists__list
            = link_to '#' do
              %figure.MainPickupProductBoxProductLists__list--img
                = image_tag 'https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png', alt: '', class: 'MainPickupProductBoxProductLists__list--img--pict'
              .MainPickupProductBoxProductLists__list--body
                %h3.MainPickupProductBoxProductLists__list--body--name
                  ee
                .MainPickupProductBoxProductLists__list--body--details
                  %ul.MainPickupProductBoxProductLists__list--body__details--ul
                    %li 1000円
                    %li
                      %i.fa.fa-star.likeIcon
                      0
                  %p (税込)
          .MainPickupProductBoxProductLists__list
            = link_to '#' do
              %figure.MainPickupProductBoxProductLists__list--img
                = image_tag 'https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/7/a001.png', alt: '', class: 'MainPickupProductBoxProductLists__list--img--pict'
              .MainPickupProductBoxProductLists__list--body
                %h3.MainPickupProductBoxProductLists__list--body--name
                  ee
                .MainPickupProductBoxProductLists__list--body--details
                  %ul.MainPickupProductBoxProductLists__list--body__details--ul
                    %li 1000円
                    %li
                      %i.fa.fa-star.likeIcon
                      0
                  %p (税込)

    %section.MainPickup
      %h2.MainPickupHead ピックアップカテゴリー
      .MainPickupProductBox
        .MainPickupProductBoxTop
          = link_to '#' do
            %h3.MainPickupProductBoxTop__title アーカイブ
        .MainPickupProductBoxProductLists
          .MainPickupProductBoxProductLists__list
            = link_to '#' do
              %figure.MainPickupProductBoxProductLists__list--img
                = image_tag 'https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/16/IMG_9072.JPG', alt: '', class: 'MainPickupProductBoxProductLists__list--img--pict'
              .MainPickupProductBoxProductLists__list--body
                %h3.MainPickupProductBoxProductLists__list--body--name
                  ee
                .MainPickupProductBoxProductLists__list--body--details
                  %ul.MainPickupProductBoxProductLists__list--body__details--ul
                    %li 1000円
                    %li
                      %i.fa.fa-star.likeIcon
                      0
                  %p (税込)
          .MainPickupProductBoxProductLists__list
            = link_to '#' do
              %figure.MainPickupProductBoxProductLists__list--img
                = image_tag 'https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png', alt: '', class: 'MainPickupProductBoxProductLists__list--img--pict'
              .MainPickupProductBoxProductLists__list--body
                %h3.MainPickupProductBoxProductLists__list--body--name
                  ee
                .MainPickupProductBoxProductLists__list--body--details
                  %ul.MainPickupProductBoxProductLists__list--body__details--ul
                    %li 1000円
                    %li
                      %i.fa.fa-star.likeIcon
                      0
                  %p (税込)
          .MainPickupProductBoxProductLists__list
            = link_to '#' do
              %figure.MainPickupProductBoxProductLists__list--img
                = image_tag 'https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png', alt: '', class: 'MainPickupProductBoxProductLists__list--img--pict'
              .MainPickupProductBoxProductLists__list--body
                %h3.MainPickupProductBoxProductLists__list--body--name
                  ee
                .MainPickupProductBoxProductLists__list--body--details
                  %ul.MainPickupProductBoxProductLists__list--body__details--ul
                    %li 1000円
                    %li
                      %i.fa.fa-star.likeIcon
                      0
                  %p (税込)
          .MainPickupProductBoxProductLists__list
            = link_to '#' do
              %figure.MainPickupProductBoxProductLists__list--img
                = image_tag 'https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/7/a001.png', alt: '', class: 'MainPickupProductBoxProductLists__list--img--pict'
              .MainPickupProductBoxProductLists__list--body
                %h3.MainPickupProductBoxProductLists__list--body--name
                  ee
                .MainPickupProductBoxProductLists__list--body--details
                  %ul.MainPickupProductBoxProductLists__list--body__details--ul
                    %li 1000円
                    %li
                      %i.fa.fa-star.likeIcon
                      0
                  %p (税込)
  = render 'template/footer'
  = render 'template/item'
