.MainPickupProductBoxProductLists__list
  = link_to item_path(item.id) do
    %figure.MainPickupProductBoxProductLists__list--img
      = image_tag item.item_images.first.url.url, alt: '', class: 'MainPickupProductBoxProductLists__list--img--pict'
      - if item.buyer_id.present?
        .MainPickupProductBoxProductLists__list--img--buy
          %p SOLD
    .MainPickupProductBoxProductLists__list--body
      %h3.MainPickupProductBoxProductLists__list--body--name
        = item.name
      .MainPickupProductBoxProductLists__list--body--details
        %ul.MainPickupProductBoxProductLists__list--body__details--ul
          %li= "#{item.price}円"
          %li
            %i.fa.fa-star.likeIcon
            0
        %p (税込)