= render partial: 'template/header.html.haml'
.ShowItems
  %section.Main
    .MainContainer
      .MainContainer__title
        %h1  
          = @item.name
      .MainContainer__item
        .MainContainer__item__image
          .MainContainer__item__image__box
            = image_tag 'pict-reason-01.jpg', alt: 'test', height: '300px', width: '300px', class: 'Image'
        .MainContainer__item__table
          %table.TableBody
            %tr
              %th 出品者
              %td= link_to "#{@user.nickname}","#"
                  
            %tr
              %th カテゴリー
              %td= link_to "レディース", '#'
            %tr
              %th 商品状態
              %td 
                =@item.item_condition
            %tr
              %th 配送料の負担
              %td 
                =@item.postage_payer
            %tr
              %th 配送の方法
              %td 
                =@item.postage_type
            %tr
              %th 配送元地域
              %td= link_to "#{@item.prefecture_code.name}","#"
                
            %tr
              %th 発送日の目安
              %td 
                =@item.preparation_day
      .MainContainer__pricebox
        %span.price 
          ¥
          =@item.price
        %span.tax (税込)
        %span.fee_side 送料込み
      %form.MainContainer__actions
        %button.MainContainer__actions--btn{type: "submit"}
          = link_to '購入画面に進む', "#"
      .MainContainer__description
        .MainContainer__description--text
          商品説明欄 
          %br
            =@item.introduction
= render 'template/footer'